// Styles for mode selector buttons

.mode-selector
    display: flex
    gap: 3px
    height: 260px
    > button
        width: 12px
        height: 12px
        border-radius: 50%
        cursor: pointer
        &:first-child
            border: 2px solid black
            margin-right: 3px
        &:not(:first-child)
            border: 2px solid black
            background-color: black
