//----------------  Section Four styles part of Main Content. Styles for refferance --------------------//


@use '../../abstracts/_variables'



main section:nth-child(4)
    display: flex
    align-items: center
    gap: 150px
    margin-top: 120px
    flex-wrap: wrap

    figure
        width: 13rem
        aspect-ratio: 1
        position: relative
        overflow: hidden
        border-radius: 50%
        margin: 0

        img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
            top: 0
            left: 0

    p
        width: 50%
        display: flex
        flex-direction: column
        gap: 15px

        span:first-child
            line-height: 1.4
            font-size: variables.$span-font-size

        span:last-child
            font-size: 14px

//----------------  Section Four responsive layout --------------------//    

@media screen and (max-width: 1599px) and (min-width: 1008px)

    main section:nth-child(4)
        margin-top: 100px
        gap: 50px

        p
            width: 65%
            gap: 40px

            span
                width: 100%

                &:first-child
                    font-size: 20px

@media screen and (max-width: 1007px) and (min-width: 0px)

    main section:nth-child(4)
        margin-top: 0px
        gap: 20px
        padding-inline: 20px
        flex-direction: column

        figure
            margin: 0 auto

        p
            width: 100%
            padding-bottom: 10px
            text-align: center
