
    
main
    padding-top: 50px






@media screen and (max-width: 1007px) and (min-width: 0px)



    main
        padding-top: 0px
        display: flex
        flex-direction: column
        gap: 50px



@media screen and (max-width: 670px) and (min-width: 0px)


    main
        gap: 20px

