// Styles for default layout

@use '../abstracts/_variables'

.sticky-container
    position: sticky
    top: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh
    z-index: 1
    padding-block: 50px
    padding-left: 50px

    figure
        width: 70%
        margin: 0

        img
            width: 100%
            height: auto

    >div
        width: 100%
        font-size: 13px
        padding-right: 2vw
        height: variables.$asside-div-height
        display: flex
        flex-direction: column
        justify-content: space-between

        h5
            margin: 0

            span:nth-child(2)
                color: rgb(103, 19, 17)
                display: inline-block
                margin-top: 10px

:root[theme="dark"] header > div > div h5 span:nth-child(2)
    color: white

:root[theme="light"] header > div > div h5 span:nth-child(2)
    color: rgb(103, 19, 17)

// Styles for responsive layout

@media screen and (max-width: 1599px) and (min-width: 1008px)

    .sticky-container
        padding-left: 30px

        >div
            padding-right: 40px

@media screen and (max-width: 1007px) and (min-width: 0px)

    header
        position: sticky
        top: 0px
        z-index: 1
        background-color: white

    .sticky-container
        flex-direction: row
        height: auto
        flex-wrap: wrap
        justify-content: unset
        gap: 30px
        padding: 20px

        >div
            width: 50%
            height: auto

            h5
                height: 100%
                display: flex
                flex-direction: column

        figure
            width: 10%

@media screen and (max-width: 670px)

    header
        position: static

    .sticky-container
        flex-direction: column
        gap: 15px

        >div
            width: 100%

        figure
            width: 20%
