*,
*::before,
::after
    box-sizing: border-box





:root.dark-mode
    color-scheme: dark




:root.light-mode
    color-scheme: light




    
body
    font-family: 'Roboto', sans-serif
    width: 100%
    min-height: 100vh
    margin: 0
    padding: 0    





img,svg
    display: block





p,h1,h2,h3,h4,h5,h6
    font-size: inherit
    font-weight: inherit
    overflow-wrap: break-word





a
    cursor: pointer
    color: inherit
    text-decoration: none





ul
    list-style: none
    padding: 0
    margin: 0





// Styles for responsive layout

     
@media screen and (min-width: 1008px)





  body
      display: grid
      grid-template-columns: minmax(250px,16%) 1fr