$asside-div-height: 270px
$h1-font-size: clamp( 1.4rem , 2.3vw + 0.1rem , 2.7rem )
$h2-font-size: clamp( 2rem , 2.5vw + 0.1rem , 3rem )
$h3-font-size: clamp( 1rem , 2vw + 0.1rem , 1.5rem ) 
$span-font-size: clamp( 1rem , 2.5vw + 0.1rem , 1.5rem )